[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"

[packages]
spotipy = "*"
python-dotenv = "*"
pytest = "*"

[dev-packages]
rope = "*"
pylint = "*"

[requires]
python_version = "3.9"
